{% extends "main_base.html" %}
{% load static %}

{% block title %}
    Your shopping cart
{% endblock %}

{% block content %}
    <section class="contact-form">

        <div class="container">
            <h1>Your shopping cart</h1>

            <div class="product-list">
                <table style=" border-spacing: 20px 1rem;">
                    <thead>
                    <tr>
                        <th>Image</th>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th>Remove</th>
                        <th>Unit Price</th>
                        <th>Price</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr>
                        {% for item in cart %}
                            {% with product=item.product %}
                                <td>

                                    <a href="{{ product.get_absolute_url }}">
                                        <img width="100" src="{{ product.image.url }}">
                                    </a>
                                </td>
                                <td>{{ product.name }}</td>
                                <td>
                                    <form action="{% url "cart:cart_add" product.id %}" method="post">
                                        {{ item.update_quantity_form.quantity }}
                                        {{ item.update_quantity_form.override }}
                                        <input type="submit" class="btn btn-outline-success btn-sm" value="Update">
                                        {% csrf_token %}
                                    </form>
                                </td>
                                <td>
                                    <form action="{% url "cart:cart_remove" product.id %}" method="post">
                                        <input type="submit" class="btn btn-outline-danger btn-sm" value="Remove">
                                        {% csrf_token %}
                                    </form>
                                </td>
                                <td class="num">Rs. {{ item.price }}</td>
                                <td class="num">Rs. {{ item.total_price }}</td>
                            {% endwith %}
                        {% endfor %}
                    </tr>

                    <tr class="total">
                        <td><br><strong>Total</strong></td>
                        <td colspan="4"></td>
                        <td class="num"><br><strong>Rs. {{ cart.get_total_price }}</strong></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        </br>
        <p class="text-center">
            <a href="{% url "store:product_list" %}" class="btn btn-success">Continue shopping &emsp;</a>
            <a href="{% url "orders:order_create" %}" class="btn btn-success">
                Checkout
            </a>
        </p>
        </div>
    </section>
{% endblock %}
