{% autoescape off %}
    Hi {{ order.first_name }} {{ order.last_name }},

    Your Order Request has been sent to Cokedama!

    Someone from our team will contact you shortly to process this order Request.

    Order ID: {{ order.id }}

    Requested Items:
    {% for item in cart %}{% with product=item.product %}
         ~ {{ product.name }}       QTY: {{ item.quantity }}     Rs. {{ item.total_price }}
    {% endwith %}{% endfor %}

    Total Order Price: Rs. {{ cart.get_total_price }}


    Best,
    Cokedama Team
    https://www.cokedama.herokuapp.com
{% endautoescape %}