{% extends "main_base.html" %}
{% load static %}
{% block content %}

    <!-- Slider Start -->
    <section class="slider">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <h1 class="animated fadeInUp">Cokedama<br> Interior Plantscaping</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Wrapper Start -->
    <section class="about section">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div class="block">
                        <div class="section-title">
                            <h2>About Us</h2>
                            <p>Kokedama ( 玉, in English, literally "moss ball") is a ball of soil, covered with moss, on
                                which an ornamental plant grows. (From Wikipedia) “K” of “ Kokedama” is replaced by “C”
                                – Cokedama - “Cokedama”</p>
                        </div>
                        <p>It's modern, sleek, natural, and unpretentious. It's kokedama. From the Japanese, loosely
                            translated, 'koke' means moss and 'dama' means ball. This is a free-form variant of
                            traditional bonsai that is easy to try at home. Kokedama uses moss and string to contain
                            plant roots, allowing plants to remain pot-free. Simple plants look amazing wrapped up in
                            moss sheets and string, hung in windows, or perched in a shallow decorative dish. This is a
                            great DIY that brings green inside.</p>
                    </div>
                </div><!-- .col-md-7 close -->
                <div class="col-md-5">
                    <div class="block">
                        <img src="{% static 'website/images/wrapper-img.png' %}" alt="Img">
                    </div>
                </div><!-- .col-md-5 close -->
            </div>
        </div>
    </section>

    <section class="feature bg-2">
        <div class="container">
            <div class="row justify-content-end">
                <div class="col-md-6">
                    <h2 class="section-subtitle">Our Mission</h2>
                    <p>
                        Our mission is to promote eco-friendly interior designing and inspire people to pursue careers
                        working with plants while finding meaningful creative work to support them and their families
                        financially.
                    </p>
                    <a href="{% url 'contact' %}" class="btn btn-view-works">Contact Us</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Service Start -->
    <section class="service">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="section-title">
                        <h2>Our Vision</h2>
                        <p>To build a community that appreciates and values eco-friendly interior designs and to raise
                            awareness of the importance of eco-friendly interior decorations through raising
                            development.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="service-item">
                        <i class="ion-speakerphone"></i>
                        <h4>Awareness</h4>
                        <p>Create awareness among the professionals in the construction industry in Sri Lanka about
                            Indoor Plantscaping and its benefits.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="service-item">
                        <i class="ion-university"></i>
                        <h4>Education</h4>
                        <p>Engage and excite students and professionals in interior designing fields, about
                            horticulture, and careers working with plants. </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="service-item">
                        <i class="ion-briefcase"></i>
                        <h4>Workforce Development</h4>
                        <p>Increase the skilled workforce in plantscaping and develop a strong pipeline of future
                            talent.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="service-item">
                        <i class="ion-ios-people"></i>
                        <h4>Partnerships</h4>
                        <p>Cultivate and strengthen partnerships and collaborations to advance our mission, and to
                            diversify and broaden the base of advocates, and supporters.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="service-item">
                        <i class="ion-ios-analytics"></i>
                        <h4>Resource Development</h4>
                        <p>Create educational resources such as plant databases, researches, valuable tips, and the
                            know-how with the community.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="service-item">
                        <i class="ion-ios-body"></i>
                        <h4>Empowerment</h4>
                        <p>Empower creative moms who are forced to stay at home for various reasons by creating business
                            opportunities for them. </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="service-item">
                        <i class="ion-earth"></i>
                        <h4>Eco-friendly</h4>
                        <p>Popularize Eco-friendly concepts in the indoor plantscaping field.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}