{% extends "main_base.html" %}
{% load static %}
{% block content %}
    <section class="portfolio-single-page section-sm">
        <div class="container">
            <div class="row ">


                <div class="col-xl-8 col-lg-7">
                    <div class="portfolio-single-slider ">
                        <div><img class="img-fluid" src="

                                {% if project.image1 %}{{ project.image1.url }}{% else %}{% static 'website/images/logo.png' %}{% endif %}">
                        </div>
                        <div><img class="img-fluid" src="

                                {% if project.image2 %}{{ project.image2.url }}{% else %}{% static 'website/images/logo.png' %}{% endif %}">
                        </div>
                        <div><img class="img-fluid" src="

                                {% if project.image3 %}{{ project.image3.url }}{% else %}{% static 'website/images/logo.png' %}{% endif %}">
                        </div>
                        <div><img class="img-fluid" src="

                                {% if project.image4 %}{{ project.image4.url }}{% else %}{% static 'website/images/logo.png' %}{% endif %}">
                        </div>
                    </div>

                </div>
                <div class="col-xl-4 col-lg-5 mt-5 mt-lg-0">
                    <div class="project-details">
                        <h2 class=" text-center"><strong>{{ project.name }}</strong></h2>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><h6>Summary:</h6>
                                <p class="mb-1">{{ project.project_summary }}</p></li>
                            <li class="list-group-item"><h6>Client:</h6>
                                <p class="mb-1">{{ project.client_name }}</p></li>
                            <li class="list-group-item"><h6>Details:</h6>
                                <p class="mb-1">{{ project.description|safe }}</p></li>
                            <li class="list-group-item"><a class="btn btn-main text-center" href="{% url 'contact' %}">Contact
                                Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}