{% extends "main_base.html" %}
{% load static %}
{% block content %}

    <section class="page-title bg-2">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <h1>Our Projects</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Portfolio Start -->
    <section class="portfolio-work">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <div class="row shuffle-wrapper">
                            {% for project in projects %}
                                <div class="col-lg-4 col-sm-6 portfolio-item shuffle-item"
                                     data-groups="[&quot;design&quot;]">
                                    <img src="
                                            {% if project.image1 %}{{ project.image1.url }}{% else %}{% static 'website/images/logo.png' %}{% endif %}"
                                         alt="">
                                    <div class="portfolio-hover">
                                        <div class="portfolio-content">
                                            <a href="
                                                    {% if project.image1 %}{{ project.image1.url }}{% else %}{% static 'website/images/logo.png' %}{% endif %}"
                                               class="portfolio-popup"><i class="icon ion-search"></i></a>
                                            <a class="h3" href="{{ project.get_absolute_url }}">{{ project.name }}</a>
                                            <p>{{ project.project_summary }}</p>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Portfolio End -->

{% endblock %}