{% extends "main_base.html" %}
{% load static %}
{% block content %}

    <div class="card" style="flex-direction: row;">
        <div class="container">
            <div class="row ">
                <div class="col-xl-8 col-lg-7">
                    <div class="portfolio-single-slider">
                        <div><img class="img-fluid" src="


                                {% if project.image1 %}{{ project.image1.url }}{% else %}{% static 'website/images/logo.png' %}{% endif %}">
                        </div>
                        <div><img class="img-fluid" src="


                                {% if project.image2 %}{{ project.image2.url }}{% else %}{% static 'website/images/logo.png' %}{% endif %}">
                        </div>
                        <div><img class="img-fluid" src="


                                {% if project.image3 %}{{ project.image3.url }}{% else %}{% static 'website/images/logo.png' %}{% endif %}">
                        </div>
                        <div><img class="img-fluid" src="


                                {% if project.image4 %}{{ project.image4.url }}{% else %}{% static 'website/images/logo.png' %}{% endif %}">
                        </div>
                    </div>
                </div>
                <div class="col-lg-5  ">
                    <h5 class="card-title"><strong>{{ project.name }}</strong></h5>
                    <div class="card-body">

                        <ul class=" list-group-flush">
                            <li class="list-group-item"><h6>Summary:</h6>
                                <p class="mb-1">{{ project.project_summary }}</p></li>
                            <li class="list-group-item"><h6>Client:</h6>
                                <p class="mb-1">{{ project.client_name }}</p></li>
                            <li class="list-group-item"><h6>Details:</h6>
                                <p class="mb-1">{{ project.description|safe }}</p></li>
                            <li class="list-group-item"><a class="btn btn-main text-center" href="{% url 'contact' %}">Contact
                                Us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="project-content mt-50">
                            <h2 class="mb-3">Plant Categories</h2>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}