{% extends "main_base.html" %}
{% load static %}
{% block content %}

<section class="page-title bg-2">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h1>Services</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="service-about section">
	<div class="container">
		<div class="row align-items-center text-center text-lg-left">
			<div class="col-lg-6">
				<h2>WHY “Interior Plantscaping”</h2>
				<p class="mt-30">
<p>• Architectural</p>
<p>As focal points</p>
<p>Plants frame views</p>
<p>Plants highlight entrance</p>
<p>Provide privacy</p>
<p>Define space</p>
<p>Plants aid in directing traffic circulation</p>
<p>• Technical</p>
<p>Acoustic control</p>
<p>Plants clean the air</p>
<p>Energy-saving with plantscaping</p>
<p>Adjust the interior microclimate (Thermal comfort)
</p>
			</div>
			<div class="col-lg-6">
				<img class="img-fluid" src="{% static 'website/images/company/company-group-pic.jpg' %}">
			</div>
		</div>
	</div>
</section>
<div class="section-title text-center">
					<h2>What we do</h2>
				</div>


<section class="service-arrow">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-4 col-sm-6 bg-primary">
				<div class="block">
					<h3 class="text-white mb-3">Consulting</h3>
					<p>Provides consultancy service for Interior plantscaping works</p>
				</div>
			</div>
			<div class="col-lg-4 col-sm-6 bg-primary bg-primary-dark">
				<div class="block">
					<h3 class="text-white mb-3">Services</h3>
					<p>Produces decorative handmade products for plantscaping industry</p>
				</div>
			</div>
			<div class="col-lg-4 col-sm-12 bg-primary bg-primary-darker">
				<div class="block">
					<h3 class="text-white mb-3">Products</h3>
						<p>• Kokedama balls ( Main product)</p>
						<p>• Planters</p>
						<p>• Handmade decorative pots</p>
						<p>• Handmade greeting cards</p>
						<p>• Other handmade home deco products</p>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock %}