{% extends "main_base.html" %}
{% load static %}
{% block content %}

    <section class="page-title bg-2">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <h1>Learn About Our Plants</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Portfolio Start -->
    <div class="section">
        <div class="container">
            <div style="display: grid; grid-template-columns: 1fr 1fr 1fr 1fr 1fr; grid-gap:20px;">
                {% for tree in trees %}
                    <div class="portfolio-item" style="padding: 0px"
                         data-groups="[&quot;design&quot;]">
                        <img src="

                                {% if tree.image1 %}{{ tree.image1.url }}{% else %}{% static 'website/images/logo.png' %}{% endif %}"
                             alt="">
                        <div class="portfolio-hover">
                            <div class="portfolio-content">
                                <a href="

                                        {% if tree.image1 %}{{ tree.image1.url }}{% else %}{% static 'website/images/logo.png' %}{% endif %}"
                                   class="portfolio-popup"><i class="fas fa-tree"></i></a>
                                <a class="h3" href="{{ tree.get_absolute_url }}">{{ tree.name }}</a>
                                <p>{{ tree.scientific_name }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>


    <!-- Portfolio End -->

{% endblock %}