{% extends "main_base.html" %}
{% load static %}

{% block title %}
  {% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}

{% block content %}
          <div
          class="p-5 text-center bg-image shadow-1-strong"
          style="
            background-image: url({% static 'website/images/call-to-action-bg.jpg' %});
            height: 500px;
          "
        >
          <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
            <div class="d-flex justify-content-center align-items-center h-100">
              <div class="text-white">
                <h1 class="mb-3">Shop Kokedama's</h1>
                <h4 class="mb-3">View Our Promotional Offers</h4>
                <!--No Promotions?? Yeaaa then delete this-->>
                <a class="btn btn-outline-light btn-lg" href="#!" role="button"
                  >See Promotions</a
                >
              </div>
            </div>
          </div>
        </div>

<main class="mt-5">
          <!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light mg-4">
    <!-- Container wrapper -->
    <!-- Toggle button -->
    <button
            class="navbar-toggler"
            type="button"
            data-mdb-toggle="collapse"
            data-mdb-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
    >
        <i class="fas fa-bars"></i>
    </button>

    <!-- ADITI HERE! THE NAVBAR IS HERE! Y'know, the one we want to edit and stuff -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <strong class="text-dark mr-2">Categories:</strong>
        <!-- Navbar brand -->
        <a class="navbar-brand mt-2 mt-lg-0" >

        </a>
        <!-- Left links -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li><a class="dropdown-item" href="{% url "store:product_list" %}">All</a></li>
            {% for c in categories %}
                <li {% if category.slug == c.slug %}class="selected" {% endif %}>
                    <a class="dropdown-item" href="{{ c.get_absolute_url }}">{{ c.name|title }}</a>
                </li>
            {% endfor %}
        </ul>
        <!-- Left links -->
    </div>

    <!-- Right elements -->

    <!-- Notifications -->
    <a
            class="text-reset me-3 dropdown-toggle hidden-arrow"
            href="#"
            id="navbarDropdownMenuLink"
            role="button"
            data-mdb-toggle="dropdown"
            aria-expanded="false"
    >

        <ul
                class="dropdown-menu dropdown-menu-end"
                aria-labelledby="navbarDropdownMenuLink"
        >
            <li>
                <a class="dropdown-item" href="#">Some news</a>
            </li>
            <li>
                <a class="dropdown-item" href="#">Another news</a>
            </li>
            <li>
                <a class="dropdown-item" href="#">Something else here</a>
            </li>
        </ul>

        <ul
                class="dropdown-menu dropdown-menu-end"
                aria-labelledby="navbarDropdownMenuLink"
        >
            <li>
                <a class="dropdown-item" href="#">My profile</a>
            </li>
            <li>
                <a class="dropdown-item" href="#">Settings</a>
            </li>
            <li>
                <a class="dropdown-item" href="#">Logout</a>
            </li>
        </ul>

        <form class="d-flex input-group w-auto">
            <input
                    type="search"
                    class="form-control rounded"
                    placeholder="Search"
                    aria-label="Search"
                    aria-describedby="search-addon"
            />
            <span class="input-group-text border-0" id="search-addon">
        <i class="fas fa-search"></i>
      </span>
        </form>
        </div>
    </div>
    </a>
      <!-- Right elements -->
    </div>
  </nav>


  <!--WARNING,  a LOT of code within these two 'row' blocks-->
  <!--These Blocks hold the 6 shop panels on the lower half of the page-->
  <!--Each block holds 3 panels in a row. Duh. Simply copy and paste either to add another row-->

  <section class="text-container mb-4 mr-4 ml-4 mt-4">
      <div class="row">
          {% for product in products %}
          <div class="col-lg-4 col-md-12 mb-4">
            <div class="card">
                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                  <img
                    src="{{ product.image.url }}"
                    class="img-fluid"
                  />

                  <a href="{{ product.get_absolute_url }}">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                  </a>
                </div>
                <div class="card-body">
                  <h5 class="card-title">{{ product.title }}</h5>
                  <h6>Rs.{{ product.price}}</h6>
                  <p class="card-text">
                    {{ product.description }}
                  </p>
                  <a href="{{ product.get_absolute_url }}" class="btn btn-main">Purchase</a>
                </div>
              </div>
          </div>
          {% endfor %}
      </div>
  </section>

      </main>
{% endblock %}
